/* for fullcalendar start */
.fc-sat{
    color: #3c8dbc;
}
.fc-sun{
    color: #dd4b39;
}
/* for fullcalendar end */
/* loading start */
.LockOn {
    pointer-events: all;
    z-index: 99999;
    border: none;
    display: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: #fff;
    filter: alpha(opacity=75);
    opacity: 0.5;
}
.loadingicon{
    color: #000;
    position: absolute;
    top: 45%;
    left: 50%;
}
.loadingicon span{
    line-height: 38px;
    vertical-align: bottom;
}
/* loading end */

.is-hide{
    display: none;
}